<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
        
      <ion-title>
         TextBook Trader
      </ion-title>
        
      <ion-buttons end>
        <!-- <button ion-button icon-only>
          <ion-icon name="ios-search-outline"></ion-icon>
        </button>
         -->
      </ion-buttons>
        
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="img-cover" style="background: url(assets/img/book-bg.jpg) no-repeat, center center">
      <div class="center plr20">
        <h3 class="text-dark m0 pt30">What book are you looking for today?</h3>
        <!-- <p class="text-dark font-14 plr30">Fill this out to get the results you want! 👌🏼</p> -->
        <ion-grid>
          <ion-row>
            <ion-col col-sm-6 offset-sm-3>
                <div class="ptb10">
                    <div class="box-form-fill">
                      <ion-input
                      [(ngModel)]="searchBar"
                      placeholder="Type the title or ISBN of the book"
                      class="form-fill round-small bg-white font-16 text-dark ptb10 mb20 plr20"
                      type="text"></ion-input>

                      <ion-list class="mb10">

                        <ion-item class="form-fill round-small bg-white font-16 
                                         text-dark no-border pl25 mt30 ">

                            <ion-label class="text-dark" id="lbl-1">College</ion-label>
                            <ion-select class="pr20">
                                <ion-option *ngFor="let item of college | async" [value]="item">{{item}}</ion-option>
                            </ion-select>
                              

                        </ion-item>

                      </ion-list>

                      <button ion-button 
                              text-center 
                              round 
                              (tap)="search()"
                              color="orange"
                              class="customSearchBtn">Search Now</button>

                    </div>
                </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </div>
    </div>

    <!-- Area for Lastest Books -->
    <div class="plr20">
      <h4>Latest Books</h4>
      <p>Some of the latest posted books.</p>
    </div>
    <ion-spinner *ngIf="!items" name="bubbles"></ion-spinner>
    <!-- Here should be a loop for books -->
    <div *ngIf="items" class="block" margin-top>
        <div class="block-title" padding-left padding-right class="verticalSpace">
          
          <div class="clear"></div>
        </div>
        <div class="items" padding-left padding-bottom>
          <div class="card round" *ngFor="let book of items | async" (click)="openPage(book)">
            <div class="card-header" [ngStyle]="{'background-image': 'url(' + book.cover + ')'}">
            </div>
            <ion-item class="customItems">
                <ion-avatar item-start>
                    <img src="https://static.licdn-ei.com/scds/common/u/images/themes/katy/ghosts/person/ghost_person_200x200_v1.png">
                </ion-avatar>
                <ion-label>
                    <h6 class="text-dark">Student Name</h6>
                    <p class="text-dark font-9">Name of the College</p>
                </ion-label>
              </ion-item>
            <div class="padding-xs">
             
            </div>
          </div>
        </div>
      </div>
  
    <ion-fab right bottom>
        <button ion-fab color="orange"><ion-icon name="book"></ion-icon></button>
        <ion-fab-list side="top">
          <button (tap)="takePhoto()" ion-fab><ion-icon name="albums"></ion-icon></button>
          <button ion-fab><ion-icon name="camera"></ion-icon></button>
          
        </ion-fab-list>
    </ion-fab>
</ion-content>
