<ion-header>
	<ion-navbar>
		<ion-title>Chat</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<div *ngFor="let message of messages" class="message-wrapper" on-hold="onMessageHold($event, $index, message)">
		<div *ngIf="user._id !== message.userId">
			<img (click)="viewProfile(message)" class="profile-pic left" src="https://i.pinimg.com/736x/55/62/16/55621658bd0197afd7ec2d91ea0c8339--swings-cho-kyuhyun.jpg" />
			<!--  wave-->
			<div class="chat-bubble left slide-left">

				<div class="message" [innerHTML]="message.text" autolinker>
				</div>

				<div class="message-detail">
					<span (click)="viewProfile(message)" class="bold"></span>,
					<span>{{message.date | amTimeAgo}}</span>
				</div>

			</div>
		</div>

		<div *ngIf="user._id === message.userId">

			<img (click)="viewProfile(message)" class="profile-pic right" src="https://scontent-sea1-1.cdninstagram.com/t51.2885-15/s480x480/e15/10903590_585774918225081_1873336001_n.jpg?ig_cache_key=ODk0Njk0NTM4MTAzNzI5NTY4.2" />

			<div class="chat-bubble right slide-right">

				<div class="message" [innerHTML]="message.text" autolinker>
				</div>

				<div class="message-detail">
					<span (click)="viewProfile(message)" class="bold"></span>,
					<span>{{message.date | amTimeAgo}}</span>
				</div>

			</div>

		</div>

		<div class="cf"></div>

	</div>
</ion-content>
<ion-footer>
	<form [formGroup]="messageForm" (submit)="send(chatBox)" novalidate>
		<ion-item>
			<ion-input formControlName="message" [(ngModel)]="chatBox" placeholder="Send a message..."></ion-input>
			<button ion-button clear (click)="send(chatBox)" item-end><ion-icon class="footer-btn" name="send"></ion-icon></button>
		</ion-item>
	</form>
</ion-footer>
