// http://ionicframework.com/docs/theming/

@import url("https://fonts.googleapis.com/css?family=Marck+Script|Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Playfair+Display:400,400i,700,700i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Center titles in Android
.title.title-md {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 70%;
    text-align: center;
}

// Aligments

.center {
    text-align: center !important;
}

.plr20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.pr20 {
    padding-right: 20px;
}

.plr30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.pb30 {
    padding-bottom: 30px;
}

.ptb10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.pt30 {
    padding-top: 30px;
}

.ptb10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.m0 {
    margin: 0px !important;
}

.mb20 {
    margin-bottom: 20px;
}

// Custom styles

.round-small {
    border-radius: 6px 6px 6px 6px !important;
}

.bg-white {
    background-color: #ffffff !important;
    color: #20242d !important;
}

.form-fill {
    background-color: #eceef6;
}

// Text styles
.text-dark {
    color: #20242d !important;
}

.font-14 {
    font-size: 14px !important;
}

.font-9 {
    font-size: 9px !important;
}



// Change font globally

*, h3, h4, h6, h1 {
    font-family: "Nunito Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.75px;
    font-weight: 300;
}

// Border for the android header

.header-md::after, 
.header-ios::after,
.tabs-md[tabsPlacement="top"] > 
.tabbar::after, 
.tabs-ios[tabsPlacement="top"] > 
.tabbar::after, 
.footer-md::before, 
.footer-ios::before,
.tabs-md[tabsPlacement="bottom"] > 
.tabbar::before,
.tabs-ios[tabsPlacement="bottom"] > 
.tabbar::before {
    left: 0;
    bottom: -5px;
    background-position: left 0 top -2px;
    position: absolute;
    width: 100%;
    height: 5px;
    background-image: none !important;
    background-color: orange !important;
    background-repeat: repeat-x;
    content: "";
}

// Hide scrollbars

div::-webkit-scrollbar {
    border:none;
    width:0;
    background: rgba(0,0,0,0);
} 
  
div::-webkit-scrollbar-track {
    border:none;
    width:0;
    background: rgba(0,0,0,0);
}
   
div::-webkit-scrollbar-thumb {
    border:none;
    width:0;
    background: rgba(0,0,0,0);
}

.paddingLeft {
    padding-left: 8px !important;
    display: inline-block;
    font-size: 1.2em;
}