page-search {
	.scroll-content {
		padding: 16px;
	}
h1{
	font-size: 27px;
}

[padding] h1:first-child, [padding] h2:first-child, [padding] h3:first-child, [padding] h4:first-child, [padding] h5:first-child, [padding] h6:first-child {
	margin-top: 1rem !important;
}
}
